.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 80%;
    max-width: 120rem;
    max-height: 70rem;
    background-color: #fff;
    border-radius: 20px;
  }
}