.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &_empty {
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
  }
}